<md-toolbar>
  <a>
    <button (click)="handlePrevious()"
            md-tooltip="Previous event"
            md-icon-button>
      <md-icon>arrow_back</md-icon>
    </button>
  </a>

  <span class="fill"></span>
  <h1>{{(event$ | async)?.title}}</h1>
  <span class="fill"></span>

  <a>
    <button (click)="handleNext()"
            md-tooltip="Next event"
            md-icon-button>
      <md-icon>arrow_forward</md-icon>
    </button>
  </a>
</md-toolbar>

<img *ngIf="(event$ | async)?.imageUrl"
     [src]="(event$ | async)?.imageUrl"/>

<!--<svg xmlns="http://www.w3.org/2000/svg"-->
     <!--xmlns:xlink="http://www.w3.org/1999/xlink">-->
  <!--<filter id="blur"-->
          <!--filterUnits="userSpaceOnUse"-->
          <!--color-interpolation-filters="sRGB">-->
    <!--<feGaussianBlur stdDeviation="20 20" edgeMode="duplicate" />-->
    <!--<feComponentTransfer>-->
      <!--<feFuncA type="discrete" tableValues="1 1" />-->
    <!--</feComponentTransfer>-->
  <!--</filter>-->
  <!--<image filter="url(#blur)"-->
         <!--xlink:href="data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDACgcHiMeGSgjISMtKygwPGRBPDc3PHtYXUlkkYCZlo+AjIqgtObDoKrarYqMyP/L2u71////m8H////6/+b9//j/2wBDASstLTw1PHZBQXb4pYyl+Pj4+Pj4+Pj4+Pj4+Pj4+Pj4+Pj4+Pj4+Pj4+Pj4+Pj4+Pj4+Pj4+Pj4+Pj4+Pj4+Pj/wAARCAAbACgDASIAAhEBAxEB/8QAGAAAAwEBAAAAAAAAAAAAAAAAAAIEAQP/xAAoEAABAwMCBQQDAAAAAAAAAAABAAIDBBEScZETITEyQRQiNGGBguH/xAAYAQEBAAMAAAAAAAAAAAAAAAAABAECA//EABsRAAICAwEAAAAAAAAAAAAAAAABAhESIVET/9oADAMBAAIRAxEAPwAFOR4WGAjwqjVUwHeT+qwz05F+KBqCu2ZL5sidGubmWVhkp3jlM0aghKY4HD5MazkgoyRAWoVRhYTZs0bvzZCWjbY3pul8t/4gQNDrWvqVKXuvbI7pw53IZHdSU+lNIp4DMiMSPu6x1M3JtgSPK45ux7jukdI+9sjbVKYpFDqVrumW6FM2WTn73boSn0aP/9k="-->
         <!--x="0" y="0"-->
         <!--height="100%"-->
         <!--width="100%"/>-->
<!--</svg>-->

<article>
  <p>{{(event$ | async)?.description}}</p>
  <pre>{{(event$ | async | json)}}</pre>
</article>

<router-outlet></router-outlet>
