<form (submit)="handleSubmit($event)"
      [formGroup]="createGroup"
      novalidate>

  <h1>Where did you catch the pest?</h1>

  <md-list>

    <h3 md-subheader>Search for a location</h3>

    <md-list-item>
      <md-input-container>
        <input mdInput
               [mdAutocomplete]="auto"
               placeholder="Location"
               formControlName="location">
        <md-error>Location is <strong>required</strong></md-error>
      </md-input-container>
      <md-autocomplete #auto="mdAutocomplete"
                       [displayWith]="displayLocation">
        <md-option *ngFor="let result of results$ | async"
                   [value]="result">
          {{ result.description }}
        </md-option>
      </md-autocomplete>
    </md-list-item>


    <h3 md-subheader>
      Or click the map
      <span *ngIf="(placeSuggestions$ | async)?.length !== 0">
        <br>Choose a location
      </span>
    </h3>

    <md-radio-group formControlName="location">
      <md-radio-button *ngFor="let place of placeSuggestions$ | async"
                       [value]="place">
        <div class="radio-content"
             [innerHTML]="place.description || place.formatted_address">
        </div>
      </md-radio-button>
    </md-radio-group>

    <md-list-item>
      <span class="fill"></span>
      <button type="submit"
              md-primary
              md-button
              md-raised-button
      >Next
      </button>
    </md-list-item>

  </md-list>

  <br>
  <br>
  <pre *ngIf="isDev">{{event$ | async | json}}</pre>

</form>
