
form {
  padding: 20px;
}

form.ng-valid button[type='submit'] {
  background-color: #8BC34A;
}

md-list {
  display: flex;
  flex-direction: column;
}

md-input-container {
  width: 100%;
}

md-radio-group {
  margin-top: 20px;
  padding: 16px;
  max-width: 360px;
  display: inline-flex;
  flex-direction: column;
}

md-radio-button {
  margin: 8px 0px;
  font-size: 0.9em;
}

.radio-content {
  white-space: normal;
}

.fill {
  flex-grow: 1;
}
