<form (submit)="handleSubmit($event)"
      [formGroup]="createGroup"
      novalidate>

  <h5>Click the map to select a location</h5>

  <h5>Or search for a location here</h5>


  <md-input-container>
    <input mdInput
           formControlName="title"
           placeholder="Title">
  </md-input-container>

  <br>

  <md-input-container>
    <textarea mdInput
              formControlName="description"
              placeholder="Description"></textarea>
  </md-input-container>


  <button type="submit"
          md-button
          md-raised-button
  >Create</button>

</form>


<router-outlet></router-outlet>
