<form (submit)="handleSubmit($event)"
      [formGroup]="createGroup"
      novalidate>

  <h1>Add some details</h1>

  <md-input-container>
    <input mdInput
           formControlName="title"
           placeholder="Title">
    <md-error>Title is <strong>required</strong></md-error>
  </md-input-container>

  <br>

  <md-input-container>
    <textarea mdInput
              formControlName="description"
              placeholder="Description"></textarea>
  </md-input-container>


  <div class="button-container">
  <button type="submit"
          md-button
          md-raised-button
  >Create
  </button>
  </div>

</form>
