
form {
  padding: 20px;

  display: flex;
  flex-direction: column;
}

form.ng-valid button[type='submit'] {
  background-color: #8BC34A;
}


.button-container {
  display: flex;
  justify-content: space-between;
}

.radio-label {
  margin: 12px 0;
}
