<form (submit)="handleSubmit($event)"
      [formGroup]="createGroup"
      novalidate>

  <h1>What did you catch?</h1>

  <md-button-toggle-group #group="mdButtonToggleGroup"
                          formControlName="pest">
    <md-button-toggle value="rat">
      Rat
    </md-button-toggle>
    <md-button-toggle value="mouse">
      Mouse
    </md-button-toggle>
    <md-button-toggle value="possum">
      Possum
    </md-button-toggle>
    <md-button-toggle value="stoat">
      Stoat
    </md-button-toggle>
  </md-button-toggle-group>

  <br>
  <h2>Add optional details</h2>

  <md-input-container>
    <input mdInput
           formControlName="owner"
           placeholder="Your name"/>
  </md-input-container>

  <br>

  <md-input-container>
    <textarea mdInput
              formControlName="description"
              placeholder="Additional notes"></textarea>
  </md-input-container>


  <div class="button-container">
    <a [routerLink]="['create', 'location']">
      <button type="button"
              md-button
      >Back
      </button>
    </a>

    <button type="submit"
            md-button
            md-raised-button
    >Create
    </button>
  </div>


  <pre>{{event$ | async | json}}</pre>

</form>
