
form {
  padding: 20px;

  display: flex;
  flex-direction: column;
}

.pest-container,
.button-container,
md-input-container {
  padding: 0 16px;
}


.button-container {
  display: flex;
  justify-content: space-between;
}

.optional-details-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.optional-details-header button {
  flex-grow: 0;
}
.optional-details-header h3 {
  margin: 24px 0 18px;
}

/* Pest container */
.pest-container {
  margin-bottom: 18px;
}
.pest-container md-error {
  position: absolute;
  margin-top: 8px;
}

/* Image container */
.image-container {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
}
.image-container input {
  visibility: hidden;
  position: absolute;
}


.image-preview {
  width: 60%;
  margin: 0 20%;
}
