<form (submit)="handleSubmit($event)"
      [formGroup]="createGroup"
      [ngClass]="{'submitted': submitted}"
      novalidate
      [style.outlineColor]="dragging ? 'black' : 'yellow'"
      (dragenter)="handleDragEnter()"
      (dragleave)="handleDragLeave()"
      (drop)="handleDrop($event)">

  <h1>What did you catch?</h1>

  <div class="pest-container">
    <md-button-toggle-group formControlName="pest">
      <md-button-toggle value="rat">
        Rat
      </md-button-toggle>
      <md-button-toggle value="mouse">
        Mouse
      </md-button-toggle>
      <md-button-toggle value="possum">
        Possum
      </md-button-toggle>
      <md-button-toggle value="stoat">
        Stoat
      </md-button-toggle>
    </md-button-toggle-group>
    <md-error *ngIf="submitted && createGroup.get('pest').invalid">
      Pest is <strong>required</strong>
    </md-error>
  </div>

  <br>

  <div class="optional-details-header">
    <h3>Add optional details</h3>

    <label class="image-container"
           for="file-input"
           md-tooltip="Add a photo"
           ondragover="return false;">

      <input type="file"
             id="file-input"
             name="file"
             accept="image/*"
             (change)="handleImageChange($event)">
      <md-icon>add_a_photo</md-icon>

    </label>

  </div>

  <img *ngIf="imagePreview"
       [src]="imagePreview"
       class="image-preview"/>

  <md-input-container>
    <input mdInput
           formControlName="owner"
           placeholder="Your name"/>
  </md-input-container>

  <br>

  <md-input-container>
    <textarea mdInput
              formControlName="description"
              placeholder="Notes"></textarea>
  </md-input-container>

  <div class="button-container">
    <a [routerLink]="['create', 'location']">
      <button type="button"
              md-button
      >Back
      </button>
    </a>

    <button type="submit"
            md-button
            md-raised-button
    >Create
    </button>
  </div>

  <br>
  <br>
  <pre *ngIf="isDev">{{event$ | async | json}}</pre>

</form>
