
agm-map {
  width: 100%;
}

main {
  max-width: 360px;
  min-width: 360px;
}

md-sidenav-container {
  background: rgb(229, 227, 223) !important;
}

md-sidenav {
  overflow-y: scroll !important;
  overflow-x: hidden !important;
  background: #fefefe;
}

.title {
  margin-left: 12px;
}

.fab-buttons {
  margin: 36px;
  position: absolute;
  top: 0;
  right: 0;
}

.fab-buttons button {
  margin-right: 6px;
}

a {
  text-decoration: none;
  color: inherit;
}

a.active {
  background-color: gray;
}

button.menu-button.static {
  position: fixed;
  left: 0;
  top: 0;
  margin: 16px;
  z-index: 99;
}

.fill {
  flex-grow: 1;
}
