<md-sidenav-container>
  <md-sidenav mode="side"
              [opened]="opened">

    <main>
      <md-toolbar>
        <button md-icon-button
                class="menu-button"
                (click)="opened = !opened">
          <md-icon>menu</md-icon>
        </button>

        <h1>{{title$ | async}}</h1>

        <span class="fill"></span>

        <a [routerLink]="['']">
          <button md-icon-button>
            <md-icon>home</md-icon>
          </button>
        </a>
      </md-toolbar>

      <div class="container">
        <router-outlet></router-outlet>
      </div>

    </main>

  </md-sidenav>

  <!-- primary content -->

  <agm-map *ngIf="height"
           [zoom]="6"
           [minZoom]="5"
           [disableDefaultUI]="true"
           [streetViewControl]="false"
           [style.height.px]="height"
           (mapClick)="handleMapClick($event)"
           (boundsChange)="handleBoundsChange($event)"
           (centerChange)="handleCenterChange($event)"
           (zoomChange)="handleZoomChange($event)"
           [fitBounds]="(map$ | async).bounds"
           [latitude]="(map$ | async).lat"
           [longitude]="(map$ | async).lng">

    <agm-marker *ngFor="let event of events$ | async"
                (markerClick)="handleMarker(event)"
                [latitude]="event?.location?.coords?.lat"
                [longitude]="event?.location?.coords?.lng"></agm-marker>
  </agm-map>

  <a [routerLink]="['create']">
    <button class="create-button"
            md-button
            md-fab>
      <md-icon>add</md-icon>
    </button>
  </a>

  <button md-icon-button
          *ngIf="!opened"
          class="menu-button static"
          (click)="opened = !opened">
    <md-icon>menu</md-icon>
  </button>

</md-sidenav-container>

