<md-sidenav-container>

  <md-sidenav [mode]="menuState"
              [opened]="opened"
              (open)="handleSidenavOpen()"
              (close)="handleSidenavClose()">
    <main>

      <toolbar (home)="handleHome()"
               (menu)="handleMenu()"></toolbar>

      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </main>

  </md-sidenav>

  <map [opened]="opened"
       (googleMap)="handleMapInstance($event)"></map>

  <button *ngIf="!opened"
          md-icon-button
          class="menu-button static"
          (click)="handleMenu()">
    <md-icon>menu</md-icon>
  </button>

</md-sidenav-container>

