html, body{
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

agm-map {
  width: 100%;
}

main {
  max-width: 400px;
  min-width: 400px;
}

.fab-buttons {
  margin: 30px;
  position: absolute;
  top: 0;
  right: 0;


}

a {
  text-decoration: none;
}

a.active {
  background-color: gray;
}


button.menu-button.static {
  position: absolute;
  left: 0;
  top: 0;
  margin: 16px;
}

.fill {
  flex-grow: 1;
}
