<md-toolbar>

  <a [routerLink]="['../', (prevId$ | async)]">
    <button md-tooltip="Previous event"
            md-icon-button>
      <md-icon>arrow_back</md-icon>
    </button>
  </a>

  <span class="fill"></span>
  <h1>{{(currentEvent$ | async)?.title}}</h1>
  <span class="fill"></span>

  <a [routerLink]="['../', (nextId$ | async)]">
    <button md-tooltip="Next event"
            md-icon-button>
      <md-icon>arrow_forward</md-icon>
    </button>
  </a>
</md-toolbar>


<div class="image-container">
  <svg xmlns="http://www.w3.org/2000/svg"
       width="360" heigh="240"
       viewBox="0 0 360 240">
    <filter id="blur" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
      <feGaussianBlur stdDeviation="20 20" edgeMode="duplicate"/>
      <feComponentTransfer>
        <feFuncA type="discrete" tableValues="1 1"/>
      </feComponentTransfer>
    </filter>
    <image filter="url(#blur)"
           [attr.xlink:href]="(currentEvent$ | async)?.blur"
           x="0" y="0"
           height="100%" width="100%"/>
  </svg>

  <img *ngIf="imageUrl"
       class="image-hd"
       [src]="imageUrl"/>
</div>

<article>
  <p>{{(currentEvent$ | async)?.description}}</p>
  <p>{{(currentEvent$ | async)?.createdAt | moment}}</p>
  <p>{{(currentEvent$ | async)?.location?.description}}</p>
  <br>
  <br>
  <pre *ngIf="isDev">{{(currentEvent$ | async | json)}}</pre>
</article>

<router-outlet></router-outlet>
